.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.sticky1 {
  backdrop-filer: blur(5px); /* Add blur effect for transparency */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}


